


{% extends 'base.html' %}

{% block content %}



<section class="container content">
    <div class="details-mood-card">
        <div class="mood-card-left">
            <div class="mood-logo"></div>
            <div class="mood-content">
                <h3> {{ mood.title}}</h3>
                <p>Notes: </p>
            </div>
        </div>
        <div class="mood-card-right">
            <p>Date placeholder</p>
        </div>
    </div>
    
    <div class="sound-bar">
       
        <audio controls>
            <source src="{{ song.url }}"></audio>
            <p>Title: {{song.title}}</p>
            <p>Artist: {{song.Artist}}</p>
        
        
    </div>
    
</section>

{% endblock %}

