{% extends 'base.html' %}

{% block content %}

    <section class="container container-md">

        <h1 class="page-title">My Moods</h1>

        <a href="">
            <div class="new-mood-card">
                <p>Add New Mood</p>

            </div>
        </a>

        <a href="">
            <div class="mood-cards-list">
                <div class="mood-card">
                    <div class="mood-card-left">
                        <div class="mood-logo"></div>
                        <div class="mood-content">
                            <p>sad</p>
                            <p>sad song</p>
                        </div>
                    </div>
                    <div class="mood-card-right">
                        <p>01/18/2024</p>
                    </div>
                </div>
            </div>
        </a>

    </section>
    {% endblock %}