{% extends "base.html" %}

{% block content %}

<!-- <form action="" method="POST">
  {% csrf_token %}
  <table>
    {{form.as_table}}
  </table>
  <input type="submit" value="Add Mood">
</form> -->


<form action="" method="POST">
  {% csrf_token %}
  
  <label>How are you feeling?</label><br>
  {% for value, label in form.title.field.choices %}
    {% if value %}
      <input type="radio" name="{{ form.title.name }}" id="id_{{ form.title.name }}_{{ forloop.counter }}" value="{{ value }}" {% if form.title.value == value %}checked{% endif %}>
      <label for="id_{{ form.title.name }}_{{ forloop.counter }}">{{ label }}</label><br>
    {% endif %}
  {% endfor %}
  
  <label for="{{ form.content.id_for_label }}">Could you explain further?</label>
  <textarea name="{{ form.content.name }}" id="{{ form.content.id_for_label }}" rows="4" cols="50">{{ form.content.value }}</textarea><br>

  <input type="submit" value="Add Mood">
</form>


{% endblock %}