{% extends 'base.html' %}

{% block content %}

    <ul>
        {% for song in songs %}
            <li>
                {{ song.title }} - {{ song.artist }}
                {% if song.url %}
                    (<a href="{{ song.url }}" target="_blank">Listen</a>)
                {% endif %}
                <a href="{% url 'edit_song' song.id playlist %}" style="margin-left: 5px;">Edit</a>    
                <form style="display: inline-block;" method="post" action="{% url 'delete_song' song.id playlist %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'add_song' mood_id=mood.id %}">Add New Song</a>


    <form method="post" action="{% url 'angry_playlist' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Song</button>
    </form>
{% endblock %}