{% extends 'base.html' %}

{% block content %}
    <h2>Sad Playlist</h2>


    <ul>
        {% for song in songs %}
            <li>{{ song.title }} - {{ song.artist }} - <a href="{{ song.url }}" target="_blank">Listen</a></li>
        {% endfor %}
    </ul>

     
     <a href="{% url 'add_song' mood_id=mood.id %}">Add New Song</a>

     
     {% if mood %}
     <form method="post" action="{% url 'add_song' mood_id=mood.id %}">
         {% csrf_token %}
         {{ form.as_p }}
         <button type="submit">Add Song</button>
     </form>
 {% endif %}
 {% endblock %}