{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <title>Mood Wave</title>

</head>
<body>

  <div class="container base-container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Mood Wave</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
        {% if user.is_authenticated %}
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">My Moods</a></li>
          <li class="nav-item"><a href="{% url 'create' %}" class="nav-link">Add Mood</a></li>
          <li class="nav-item"><a href="{% url 'playlists' %}" class="nav-link">Playlists</a></li>
        {% else %}
          <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Sign Up</a></li>
          <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Log In</a></li>
        {% endif %}
      </ul>

      {% if user.is_authenticated %}
      <form method=“post” action="{% url 'logout' %}">
        {% csrf_token %}
        <button type=“submit”>Log Out</button>
        {% endif %}
    </form>
    </header>
  </div>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
  	<footer class="page-footer">
       <div class="right">All Rights Reserved, &copy; 2024 Mood Wave &nbsp;</div>
    </footer>
</body>
</html>