{% extends 'base.html' %}

{% block content %}
    <h2>Edit Your Song</h2>
    <form class="song-form" method="post" action="">
        {% csrf_token %}
        <div>
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}
        </div>
    
        <div>
            <label for="{{ form.artist.id_for_label }}">Artist:</label>
            {{ form.artist }}
        </div>
    
        <div>
            <label for="{{ form.Hyperlink.id_for_label }}">Video Link:</label>
            {{ form.Hyperlink }}
        </div>
        <button class="save-changes" type="submit">Save Changes</button>
    </form>
    <a class="song-btn"  href="{% url playlist %}">Cancel</a>
{% endblock %}