/* All PAGES */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.page-title {
    text-align: center;
    margin-bottom: 4vmin;
}

/* BASE */

.nav-bar {
    position: sticky;
    background-color: lightgray;
    margin-bottom: 4vmin;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vmin;
}

.nav-items {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav-item {
    padding: 8px 16px;
}

.logout-btn {
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    outline: none;
    padding: 8px 16px;
}

footer {
    position: sticky;
    bottom: 0;
    text-align: right;
    background-color: lightgray;
    padding: 12px;
}

@media (max-width: 767.98px) {
    .nav-bar-container {
        flex-direction: column;
    }
}



/* MOODS/INDEX */

.new-mood-card {
    border: 2px solid black;
    border-radius: 8px;
    padding: 2vmin;
    margin-bottom: 2vmin;
}

.mood-card {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 8px;
    padding: 3vmin;
}

.mood-card-left {
    display: flex;
    gap: 20px;
}

.mood-logo {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 234, 0);
    border-radius: 100%;
}

/* MOODS/DETAILS */

.details-mood-card {
    display: flex;
    justify-content: space-between;
    background-color: rgb(220, 219, 219);
    border-radius: 8px;
    padding: 3vmin;
}


/* PLAYLISTS */

.playlist {
    border: 2px solid black;
}